<?xml version="1.0"?>
<config>
    <event name="catalog_product_type_prepare_cart_options">
        <observer name="payfast_catalog_product_type_prepare_cart_options_observer" instance="Payfast\Payfast\Observer\PrepareProductRecurringPaymentOptions" />
    </event>
    <event name="catalog_product_type_prepare_full_options">
        <observer name="payfast_catalog_product_type_prepare_full_options_observer" instance="Payfast\Payfast\Observer\PrepareProductRecurringPaymentOptions" />
    </event>
	<event name="controller_action_predispatch_checkout_cart_add">
        <observer name="payfast_controller_action_predispatch_checkout_cart_add_observer" instance="Payfast\Payfast\Observer\AllowToAddOnlyOneRecurringPaymentProductToCart" />
    </event>
</config>
